body{
    color: white;
}

#btnMenu {
    background-color: transparent;
}
header{
    background: #1A1A1D;
    background: linear-gradient(180deg, rgba(26, 26, 29, 1) 0%, rgba(202, 1, 1, 0) 100%);
    position: fixed;
}
.menuDesktop {
    background-color: transparent;
}
h1{
    text-align: center;
    font-family: bowlby;
    color: #CA0101;
    transition: 0.5s all ease;
    cursor: default;
    font-size: 3rem;
}
h1:hover{
    transform: scale(1.2) rotate(7deg);
}
h2{
    font-family: bowlby;
    color: white;
    transition: 0.5s all ease;
    cursor: default;
    font-size: 2rem;
}
h2:hover{
    transform: scale(1.2) rotate(7deg);
}
#eventos{
    margin-top:20% ;

}
#eventos section{
    display: grid;
    grid-row: 1fr 0.5fr;
            transform: translateY(40px);
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 50% exit 60%;
}
.fndofoto{
    grid-row: 1/2;
    background-color: dimgray;
    height: 200px;
    width: 100%;
}
#eventos h3, #eventos p{
    margin: 0;
    margin-bottom: 5%;
    text-align: center;

}
#eventos h3{
    margin-top: 5%;
}
#eventos iframe{
    height: 75px;
    opacity: 25%;
    transition: 1s all ease;
}
#eventos iframe:hover{
    opacity: 100%;
}
@media screen and (min-width: 1232px) {
    #eventos h3, #eventos p{
        margin-bottom: 1%;  
    }
    #eventos h3{
        margin-top: 1%;
    }
}